{% extends 'base.html' %}

{% block content %}
<section class="mod-box">
<h2>iPhone/iPadで登録</h2>
<ol>
<li>このページをブックマークする</li>
<li>ブックマークの編集機能で、URLの先頭の「http://i-sourceview.appspot.com/bm#」を削除し、「javascript:～」から始まるようにする</li>
</ol>
</section>

<section class="mod-box">
<h2>PCのSafariで登録してiPhone/iPadと同期</h2>
<ol>
<li>以下のリンクをPCのSafariでブックマークする<br />
<a href="javascript:window.open('http://i-sourceview.appspot.com/?url=' + encodeURIComponent(location.href), '_target')" onclick="alert('右クリックで登録するか、ツールバーにドラッグしてブックマークしてください。');return false;">i-sourceview bookmarklet</a></li>
<li>iTunesでブックマークを同期する</li>
</ol>
</section>
<script>
if (history.replaceState) {
    history.replaceState('', '', "#javascript:window.open('http://i-sourceview.appspot.com/?url=' + encodeURIComponent(location.href), '_target')");
}
else {
    location.hash = "javascript:window.open('http://i-sourceview.appspot.com/?url=' + encodeURIComponent(location.href), '_target')";
}
</script>

{% endblock %}
