.wrapper {
    width: 680px;
    margin: 0 auto;
}

h1 {
    font-family: 'Neuton', serif;
    font-size: 60px;
    margin: 10px 0 0;
    padding: 0;
    color: #881280;
    text-align: center;
}

h1 a {
    color: #881280;
    text-decoration: none;
}

h1:before {
    content: '<';
}
h1:after {
    content: ' />';
}

h2 {
    border-bottom: 2px solid #333;
    text-shadow: #CCC 3px 3px 3px;
    padding: 5px 10px;
}

section {
    margin-bottom: 50px;
}

ol li {
    margin: 10px 0;
}

.description {
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
}

.error {
    color: #C00;
    text-align: center;
}

form {
    text-align: center;
    margin: 0;
    padding: 0;
}

#content {
    margin: 50px 0;
}

input[type="text"] {
    font-size: 25px;
    width: 600px;
    text-align: center;
}

button {
    padding: 10px 100px;
    font-size: 22px;
}

nav ul {
    list-style: circle;
    padding: 0 0 0 60px;
    margin: 50px 0 0 0;
    font-size: 30px;
}

nav ul li {
    margin: 10px 0;
}
