body {
    margin: 0;
    padding: 0 20px;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
}

.content {
    margin: 50px 0;
}

.mod-siteHeader h1 {
    font-family: 'Neuton', serif;
    font-size: 60px;
    margin: 10px 0 0;
    padding: 0;
    color: #881280;
    text-align: center;
}

.mod-siteHeader h1 a {
    color: #881280;
    text-decoration: none;
}

.mod-siteHeader h1:before {
    content: '<';
}
.mod-siteHeader h1:after {
    content: ' />';
}

.mod-siteHeader .description {
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
    font-style: italic;
}

.mod-box {
    margin-bottom: 30px;
}

.mod-box p {
    padding: 0 10px;
    margin: 10px 0;
}

.mod-box h2 {
    border-bottom: 2px solid #333;
    text-shadow: #CCC 3px 3px 3px;
    padding: 5px 10px;
    margin: 10px 0;
}

.mod-box ul {
    padding: 0 10px 0 40px;
    list-style: circle;
}

.mod-box ol {
    padding: 0 10px 0 40px;
}

.mod-box li {
    margin: 10px 0;
}

.mod-inputForm {
    text-align: center;
    margin: 0;
    padding: 0;
}

.mod-inputForm input[type="text"] {
    font-size: 25px;
    width: 500px;
    text-align: center;
}

.mod-navi ul {
    list-style: circle;
    padding: 0 0 0 60px;
    margin: 50px 0 0 0;
    font-size: 30px;
}

.mod-navi ul li {
    margin: 10px 0;
}

.mod-error h2 {
    color: #C00;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 3px solid #C00;
}

.mod-error p {
    font-size: 25px;
}

.mod-aboutList dt {
    font-size: 20px;
    border-left: 5px solid #333;
    padding: 3px 10px;
    color: #333;
    font-weight: bold;
}

.mod-aboutList dd {
    padding: 20px 0 50px 20px;
    margin: 0;
    font-size: 18px;
}
