<!DOCTYPE HTML>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>i-sourceview</title>
    <link  href="/static/css/code.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="screen and (max-device-width: 480px)" href="/static/css/code.iphone.css" />
</head>
<body>

<div id="main">
<div id="source">
<pre><code>{{ formatted_html }}</code></pre>
</div>
<div id="line_number">
<pre><code>{{ line_number }}</code></pre>
</div>
</div>

<footer>
<p>viewed by <a href="/">i-sourceview</a>.</p>
</footer>

</body>
</html>
